
.thumbnail, .thumbnail2 {
  width: 80px;
  margin: 4px;
  border: 1px solid black;
  display: inline-block;
}
.thumbnail, .thumbnail2:hover {
  cursor: pointer;
}
.selected {
  border: 2px solid red;
}
#main-image, #main-image2 {
  width: 100%;
  margin: 10px;
  border: 1px solid black;
}
.block {
  margin-top: 50px;
  margin-bottom: 50px;
}
.youtube{padding-bottom: 57%;position: relative;}
.video-iframe{max-width: 100%;width: 100%;border: none;position: absolute;height: 100%;}
